<ion-header>
  <ion-toolbar>
    <ion-title>
     Formulario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form [FormGroup]="formulario">
  <ion-item>
    <ion-input formControlName="name" label="Nome" labelPlacement="floating" placeholder="Digite um nome"></ion-input>
    <ng-container *ngFor="let erro of msgValidacao.nome">
      <small *ngIf="nome.erros?.[erro.tipo] && (nome.dirty || nome.touched)">
        {{erro.msg}}
      </small>
    </ng-container>
  </ion-item>
<form [FormGroup]="formulario">
  <ion-item>
    <ion-input formControlEmail="email" label="E-mail" labelPlacement="floating" placeholder="Digite um email"
      type="email">
    </ion-input>
    <ng-container *ngFor="let erro of msgValidacao.email">
      <small *ngIf="nome.erros?.[erro.tipo] && (email.dirty || email.touched)">
        {{erro.msg}}
      </small>
    </ng-container>
  </ion-item>
<form [FormGroup]="formulario">
  <ion-item>
    <ion-input formControlName="senha" label="Senha" labelPlacement="floating" placeholder="Digite uma senha"
      type="password">
    </ion-input>
    <ng-container *ngFor="let erro of msgValidacao.senha">
      <small *ngIf="nome.erros?.[erro.tipo] && (senha.dirty || senha.touched)">
        {{erro.msg}}
      </small>
    </ng-container>
  </ion-item>
</form>
</ion-content>
